.banner {
  color: white;
  background-size: cover;
  text-shadow: 0 0 15px rgb(1,1,0,1);
  padding: 150px 0;
  margin-bottom: 64px;
}

.banner h1, .banner p {
  margin:0;
}

.banner p {
  margin-bottom: 30px;
}
